body {
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
}



#octopus {
	position: relative;
	z-index: 1;
	top: 100px;
	left: 200px;

}

#hat {
	position: absolute;
	top: 50px;
	left: 210px;
	z-index: 3;
}


#glasses {
	position: absolute;
	top: 225px;
	left: 260px;
	z-index: 2;
}

